# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ian Emnace
	email = igemnace@gmail.com
	signingkey = DBAA20F8379A18246042D6BA9790DB99CC5F99B3
[core]
	excludesfile = ~/.cvsignore
	editor = vim
[alias]
	unstage = reset HEAD
	discard = checkout
[commit]
	verbose = 1
	gpgSign = true
[diff]
	algorithm = patience
[pull]
	rebase = false
[init]
	defaultBranch = main
[log]
	date = format:%a %d %b %Y %I:%M %p %z
