# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ian Emnace
	email = igemnace@gmail.com
	signingkey = E745ECDBA8D167079F8353DF5E5B911E510DF7BE
[core]
	excludesfile = ~/.cvsignore
	editor = vim
[alias]
	unstage = reset HEAD
	discard = checkout
[commit]
	verbose = 1
[diff]
	algorithm = patience
