#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/xterm"

/* ! HIGHLIGHT */
/* ! special */
*.foreground:   #d0d0d0
*.background:   #303030
*.cursorColor:  #d0d0d0

! black
*.color0:       #303030
*.color8:       #767676

! red
*.color1:       #ff8787
*.color9:       #ff8787

! green
*.color2:       #87d787
*.color10:      #87d787

! yellow
*.color3:       #ffd75f
*.color11:      #ffd75f

! blue
*.color4:       #5f87d7
*.color12:      #5f87d7

! magenta
*.color5:       #d787d7
*.color13:      #d787d7

! cyan
*.color6:       #5fd7d7
*.color14:      #5fd7d7

! white
*.color7:       #d0d0d0
*.color15:      #d0d0d0

